---
layout: 'default'
title: 'Home'
---

.hero-unit
  h1
    span.know know
    | 
    span.cujo cujo
    span.js JS
  p Your source for everything you may want to learn about cujoJS, including getting started tutorials and sample applications.

.row
  .span6
    - var post = getFiles({ layout: 'post' }, { ctime: -1 }).toJSON()[0]
    h2 Latest Post: 
      = post.title
    div(style='max-height: 10em; overflow: hidden; position: relative; margin-bottom: 0.5em')
      div(style='position: absolute; bottom: 0; width: 100%; height: 1em; background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));')
      != post.contentRenderedWithoutLayouts
    p: a.btn(href=post.url) Continue Reading

    h2 Tutorials
    p Our tutorials walk you through everything you need to know.  Starting with the fundamentals, you'll be a cujoJS expert in no time.
    p: a.btn(href="/tutorials") View Tutorials

    h3 Latest tutorials
    nav.linklist
      ul
        each tutorial in getFiles({ layout: 'tutorial' }, { ctime: -1 }).toJSON().slice(0, 5)
          li
            p
              span= formatDate(tutorial.date)
              |  &raquo;&nbsp;
              a(href=tutorial.url)= tutorial.title
              if tutorial.summary
                span= ' - ' + tutorial.summary
  .span6
    h2 Get cujoJS
    p Download the latest versions of each library.
    p: a.btn(href="/downloads") Get cujoJS

    h2 Reference documentation
    p Complete reference documentation for each cujoJS library.
    p: a.btn(href="/documentation") View Reference Docs

    h2 Sample applications
    p Sample applications apply cujoJS concepts within a specific domain.
    p: a.btn(href="/samples") View Samples

    h2 Need assistance?
    :markdown
      Join cujoJS's [mailing list](https://groups.google.com/d/forum/cujojs) where you can find solutions, get the latest news, or share successes.
      If you prefer live discussion, join the [#cujojs room on freenode](irc://irc.freenode.net:6697/#cujojs).
      Professional support packages are also available from [SitePen](http://www.sitepen.com/support/).
